src/threads/build/tests/threads/*.o
src/threads/build/tests/threads/*.d
src/threads/build/device/*.o
src/threads/build/device/*.d
src/threads/build/threads/*.o
src/threads/build/*.dsk
src/threads/build/kernel.o
src/threads/build/kernel.bin
src/threads/build/lib/kernel/debug.o
src/threads/build/*.txt
