src/threads/build/tests/threads/*.o
src/threads/build/tests/threads/*.d
src/threads/build/devices/*.o
src/threads/build/devices/*.d
src/threads/build/threads/*.o
src/threads/build/*.dsk
src/threads/build/kernel.o
src/threads/build/kernel.bin
src/threads/build/lib/kernel/debug.o
src/threads/build/*.txt
